.df {
    display: flex;
}
.di {
    display: inline;
}
.dib {
    display: inline-block;
}
.tc {
    text-align: center;
}
.r {
    float: right;
}
.abs {
    position: absolute;
}
.rel {
    position: relative;
}
