.box {
  height: 200px;
  width: 200px;
  border: 1px solid #00ffcc;
  background-color: azure;
  margin: 20px;
  position: relative;
}

.box .item {
  width: 50px;
  height: 50px;
  border: 1px solid #ff00cc;
  background-color: gainsboro;
}

.box:after {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: .4;
  content: attr(title);
  transition: all .2s;
}

.box:hover:after {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.bs-top {
  -webkit-box-shadow: 0px -10px 1px #00ffcc;
  -moz-box-shadow: 0px -10px 1px #00ffcc;
  box-shadow: 0px -10px 1px #00ffcc;
}

.bs-left {
  -webkit-box-shadow: -10px 0px 1px #00ffcc;
  -moz-box-shadow: -10px 0px 1px #00ffcc;
  box-shadow: -10px 0px 1px #00ffcc;
}

.bs-bottom {
  -webkit-box-shadow: 0px 10px 1px #00ffcc;
  -moz-box-shadow: 0px 10px 1px #00ffcc;
  box-shadow: 0px 10px 1px #00ffcc;
}

.bs-right {
  -webkit-box-shadow: 10px 0px 1px #00ffcc;
  -moz-box-shadow: 10px 0px 1px #00ffcc;
  box-shadow: 10px 0px 1px #00ffcc;
}
